html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.video-container {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
}

.video-container video {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.preview {
  font-size: 0;
  display: grid;
  height: 100vh;
  --x-steps: 10;
  --y-steps: 10;
  grid-template-columns: repeat(var(--x-steps), calc(100% / var(--y-steps)));
  grid-template-rows: repeat(var(--y-steps), calc(100% / var(--x-steps)));
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
